.mis-pedidos-wrapper {
    padding-top: 100px; /* ajusta según altura del navbar */
}

/* SOLO afecta esta vista */
.mis-pedidos-container {
    max-width: 900px;
    margin: auto;
}

.mis-pedidos-wrapper h1 {
    text-align: center;
    margin-bottom: 30px;
}

/* CARD */
.mis-pedidos-wrapper .pedido-card {
    background: white;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    overflow: hidden;
}

/* HEADER */
.mis-pedidos-wrapper .pedido-header {
    background: #2c5364;
    color: white;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
}

/* BODY */
.mis-pedidos-wrapper .producto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.mis-pedidos-wrapper .producto img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    object-fit: cover;
}

/* FOOTER */
.mis-pedidos-wrapper .pedido-footer {
    padding: 10px 15px;
    background: #f1f1f1;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}