{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>AgroLink</title>
    <link rel="icon" type="image/png" href="{% static 'logo/logoAgrolink.jpeg' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

</head>
<body>

    <div class="navbar">
        <div>
            🌾 AgroLink
        </div>

        <div>
            <a href="{% url 'lista_calificacion' %}">Calificaciones</a>
            <a href="{% url 'crear_calificacion' %}">Nueva</a>
        </div>
    </div>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>