{% load static%}
<section id="productCarousel" class="carousel slide mt-5" data-bs-ride="carousel" data-bs-interval="3500">
    <div class="carousel-inner">

            
        <div class="carousel-item active hero mt-5" style="background-image: url('{% static "imag/carrusel_servicio1.png" %}');">
            <div class="hero-overlay">
                <div class="hero-text" data-aos="fade-right">
                    
                    
                    
                </div>
            </div>
        </div>

        <!-- IMG 2 -->
        <div class="carousel-item hero mt-5" style="background-image: url('{% static "imag/carrusel_servicio2.png" %}');">
            <div class="hero-overlay">
                <div class="hero-text">
                    
                    
                </div>
            </div>
        </div>

        <!-- IMG 3 -->
        <div class="carousel-item hero mt-5" style="background-image: url('{% static "imag/carrusel_servicio3.png" %}');">
            <div class="hero-overlay">
                <div class="hero-text">
                    
                    
                </div>
            </div>
        </div>

        <!-- IMG 4 -->
        <div class="carousel-item hero mt-5" style="background-image: url('{% static "imag/carrucel_servicio4.png" %}');">
            <div class="hero-overlay">
                <div class="hero-text">
                    
                    
                </div>
            </div>
        </div>

    </div>
</section>