<!-- MODAL -->
<div class="modal fade" id="modalServicio{{ servicio.id_servicio }}" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content ds-modal">

      <!-- HEADER -->
      <div class="modal-header">
        <h5 class="modal-title">
          🌿 Servicio #{{ servicio.id_servicio }}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- BODY -->
      <div class="modal-body">

        <!-- Estado -->
        <div class="mb-3">
          {% if servicio.estado == "ACTIVO" %}
            <span class="ds-badge ds-badge--success">Disponible</span>
          {% else %}
            <span class="ds-badge ds-badge--danger">No disponible</span>
          {% endif %}
        </div>

        <hr>

        <!-- INFO -->
        <div class="row">
          
          <div class="col-md-6 mb-3">
            <p><strong>Categoría:</strong></p>
            <p class="text-muted">{{ servicio.categoria }}</p>
          </div>

            

           

        </div>

        <!-- DESCRIPCIÓN -->
        <div class="mt-3">
          <p><strong>Descripción:</strong></p>
          <p class="text-muted">
            {{ servicio.descripcion }}
          </p>
        </div>

      </div>

      <!-- FOOTER -->
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>

    </div>
  </div>
</div>