<div class="servicios-page">

  <div class="row g-4 mb-5 fade-admin">

    <!-- TOTAL -->
    <div class="col-md-4">
      <div class="servicios-kpi-card servicios-kpi-green">
        <div class="servicios-kpi-content">
          <div>
            <p>Total Servicios</p>
            <h3>120</h3>
          </div>
          <div class="servicios-kpi-icon">
            <i class="bi bi-briefcase"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- ACTIVOS -->
    <div class="col-md-4">
      <div class="servicios-kpi-card servicios-kpi-success">
        <div class="servicios-kpi-content">
          <div>
            <p>Activos</p>
            <h3>80</h3>
          </div>
          <div class="servicios-kpi-icon">
            <i class="bi bi-check-circle"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- INACTIVOS -->
    <div class="col-md-4">
      <div class="servicios-kpi-card servicios-kpi-gray">
        <div class="servicios-kpi-content">
          <div>
            <p>Inactivos</p>
            <h3>40</h3>
          </div>
          <div class="servicios-kpi-icon">
            <i class="bi bi-pause-circle"></i>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>