{% extends "base/base_admin.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/servicios.css' %}">
{% endblock %}

{% block title %}Servicios{% endblock %}



{% block content %}




    <div class="servicios-page">

    <!-- KPIs -->
    {% include "admin_servicios/kpis.html" %}

    <!-- ALERTAS -->
    {% include "admin_servicios/alerts.html" %}

    <!-- TABLA -->
    {% include "admin_servicios/tabla_servicios.html" %}

    </div>




{% endblock %}

{% block extra_js %}
<script src="{% static 'js/servicios.js' %}"></script>
{% endblock %}