{% load static %}
<link rel="stylesheet" href="{% static 'css/pago_exitoso.css' %}">

<div class="payment-container">

    <div class="payment-card">

        <div class="icon">
            {% if data.x_cod_transaction_state == "1" %}
                ✅
            {% elif data.x_cod_transaction_state == "2" %}
                ❌
            {% else %}
                ⏳
            {% endif %}
        </div>

        <h2>Resultado del pago</h2>

        {% if data.x_cod_transaction_state == "1" %}
            <p class="status success">Pago aprobado correctamente</p>
        {% elif data.x_cod_transaction_state == "2" %}
            <p class="status error">Pago rechazado</p>
        {% else %}
            <p class="status pending">Pago pendiente</p>
        {% endif %}

        <div class="info">
            <p><strong>Referencia ePayco:</strong></p>
            <span>{{ data.x_ref_payco }}</span>

            <p><strong>Factura:</strong></p>
            <span>{{ data.x_id_invoice }}</span>

            <p><strong>Valor:</strong></p>
            <span>$ {{ data.x_amount }}</span>

            <p><strong>Estado código:</strong></p>
            <span>{{ data.x_cod_transaction_state }}</span>
        </div>

        <a href="{% url 'inicio_cliente' %}" class="btn-volver">
            Volver al inicio
        </a>

    </div>

</div>