
    <!-- ============================
            RECOMENDADOS INTEGRADOS
    ============================== -->
    <h3 class="fw-bold mb-4" data-aos="fade-right">Te podría interesar</h3>

    <div class="row g-4" id="recommendedSection">
        <div class="col-md-3" data-aos="zoom-in">
            <div class="recommended-card">
                <img th:src="@{/imag/products/frijoles.jpg}">
                <h6 class="mt-2 fw-bold">Frijol Rojo</h6>
                <p class="text-muted mb-1">Calidad premium</p>
                <span class="fw-bold text-success">$4.000</span>
            </div>
        </div>

        <div class="col-md-3" data-aos="zoom-in">
            <div class="recommended-card">
                <img th:src="@{/imag/platano.png}">
                <h6 class="mt-2 fw-bold">Plátano Hartón</h6>
                <p class="text-muted mb-1">Agricultura limpia</p>
                <span class="fw-bold text-success">$3.500</span>
            </div>
        </div>

        <div class="col-md-3" data-aos="zoom-in">
            <div class="recommended-card">
                <img th:src="@{/imag/tomate.jpg}">
                <h6 class="mt-2 fw-bold">Tomate Chonto</h6>
                <p class="text-muted mb-1">Fresco del día</p>
                <span class="fw-bold text-success">$1.800</span>
            </div>
        </div>

        <div class="col-md-3" data-aos="zoom-in">
            <div class="recommended-card">
                <img th:src="@{/imag/queso.jpg}">
                <h6 class="mt-2 fw-bold">Queso Fresco</h6>
                <p class="text-muted mb-1">Origen artesanal</p>
                <span class="fw-bold text-success">$18.000</span>
            </div>
        </div>

    </div>