{% load static %}

<h3 class="fw-bold mb-4" data-aos="fade-right">Te podría interesar</h3>

<div class="row g-4">

    <div class="col-md-3" data-aos="zoom-in">
        <div class="card p-2">
            <img src="{% static 'img/frijoles.jpg' %}">
            <h6>Frijol Rojo</h6>
            <span class="text-success">$4.000</span>
        </div>
    </div>

    <div class="col-md-3" data-aos="zoom-in">
        <div class="card p-2">
            <img src="{% static 'img/platano.png' %}">
            <h6>Plátano</h6>
            <span class="text-success">$3.500</span>
        </div>
    </div>

</div>